// https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss

@import "bootstrap"

body
  // padding-top: map-get($spacers, 5)
  padding-bottom: map-get($spacers, 5)

.header
  padding: map-get($spacers, 5) 0
  font-family: 'Pacifico', cursive

.teaser-text
  padding: map-get($spacers, 5) 0
  font-family: 'Cormorant Garamond', serif

.project-story
  padding: map-get($spacers, 5) 0
  font-family: 'Cormorant Garamond', serif
  background-color: #00BCD4

.border-light-blue
  border-color: #03A9F4

.border-cyan
  border-color: #00BCD4

.border-teal
  border-color: #009688

.border-green
  border-color: #4CAF50

.logo
  max-height: 150px
