.container.m-5
  %h1 Impressum
  %p Angaben gemäß § 5 TMG
  %p
    Max Muster
    %br/
    Musterweg
    %br/
    12345 Musterstadt
    %br/
  %p
    %strong Vertreten durch:
    %br/
    Max Muster
    %br/
  %p
    %strong Kontakt:
    %br/
    Telefon: 01234-789456
    %br/
    Fax: 1234-56789
    %br/
    E-Mail:
    %a{:href => "mailto:max@muster.de"} max@muster.de
  %p
    %strong Umsatzsteuer-ID:
    %br/
    Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: Musterustid.
    %br/
    %br/
    %strong Wirtschafts-ID:
    %br/
    Musterwirtschaftsid
    %br/
  %p
    %strong Aufsichtsbehörde:
    %br/
    Musteraufsicht Musterstadt
    %br/