.container
  .logo
    = image_tag 'paradieschen.jpg', class: 'logo--image img-fluid'
    %h1.logo--header Pa*radieschen Wohnprojekt

  .section
    %h2 Wer wir sind
    %p
      Wir sind eine Gruppe von Menschen, die ein Gemeinschaftswohnprojekt in Augsburg realisieren möchten. Uns motiviert die Lust auf ein nachhaltiges und selbstbestimmtes Leben.

  .section
    %h2 Was wir wollen
    %p
      Wir wollen gemeinsam, bezahlbar und in solidarischem Miteinander wohnen. Wir möchten einen Ort schaffen, der selbstbestimmtes Wohnen unabhängig von Marktdynamiken und Eigentümer*innenwillkür möglich macht. Weiter soll dieser Raum für emanzipatorische kulturelle und politische Aktivitäten jenseits von Konsum und Kommerz bieten.
  .section
    %h2 Wie wir das machen wollen
    %p
      Wir möchten Wohnraum kaufen, in dem langfristig finanzierbare Mieten möglich sind. Dieser soll uns und allen anderen Interessent*innen die Möglichkeit zur gemeinsamen Umsetzung sozialer Ziele bieten. Im Zusammenschluss mit dem #{link_to 'Mietshäuser Syndikat', 'https://www.syndikat.org/de/', target: '_blank'} garantieren wir, dass dieser Ort auch in Zukunft bestehen bleibt.
